#overlay-loader{
		position: fixed;
		background-color: rgba(255,255,255,0.8);
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		z-index: 9999;
		display: none;
	}
	#loader {
		display:block;
		position:relative;
		left:50%;
		top:50%;
		width:150px;
		height:150px;
		margin:-75px 0 0 -75px;
		-webkit-border-radius:50%;
		-moz-border-radius:50%;
		border-radius:50%;
		border:3px solid transparent;
		border-top-color:#3498db;
		-webkit-animation:spin 2s linear infinite;
		-moz-animation:spin 2s linear infinite;
		-o-animation:spin 2s linear infinite;
		animation:spin 2s linear infinite;
		z-index:1001
	}
	#loader:before {
		content:"";
		position:absolute;
		top:5px;
		left:5px;
		right:5px;
		bottom:5px;
		-webkit-border-radius:50%;
		-moz-border-radius:50%;	
		border-radius:50%;
		border:3px solid transparent;
		border-top-color:#e74c3c;
		-webkit-animation:spin 3s linear infinite;
		-moz-animation:spin 3s linear infinite;
		-o-animation:spin 3s linear infinite;
		animation:spin 3s linear infinite
	}
	#loader:after {
		content:"";
		position:absolute;
		top:15px;
		left:15px;
		right:15px;
		bottom:15px;
		-webkit-border-radius:50%;
		-moz-border-radius:50%;	
		border-radius:50%;
		border:3px solid transparent;
		border-top-color:#f9c922;
		-webkit-animation:spin 1.5s linear infinite;
		-moz-animation:spin 1.5s linear infinite;
		-o-animation:spin 1.5s linear infinite;
		animation:spin 1.5s linear infinite
	}
	#loader-message {
		display:block;
		position: relative;
		left: calc(50% - 110px);
		top: calc(50% + 10px);
		z-index:1002
	}


	@-webkit-keyframes spin {
		0% {
			-webkit-transform:rotate(0deg);
			-ms-transform:rotate(0deg);
			transform:rotate(0deg)
		}
		100% {
			-webkit-transform:rotate(360deg);
			-ms-transform:rotate(360deg);
			transform:rotate(360deg)
		}
	}
	@keyframes spin {
		0% {
			-webkit-transform:rotate(0deg);
			-ms-transform:rotate(0deg);
			transform:rotate(0deg)
		}
		100% {
			-webkit-transform:rotate(360deg);
			-ms-transform:rotate(360deg);
			transform:rotate(360deg)
		}
	}